@* @using webservicegilbt.shared *@
<EditForm Model="@Pres" OnInvalidSubmit="@HandleValidSubmit">
	<h1>
		<h>Screen slide-show:</h>
	</h1>
	<p>
		@foreach ( Page p in Pres.pages){
		<hr style="height:2px;border-width:0;color:gray;background-color:gray">
		<table style="widht:80%" class="table">
			<thead>
			<tr>
				<th>Type</th>
				<th>Position</th>
				<th>Parameters</th>
				<th>Result</th>
				<th>Delete</th>
			</tr>
			</thead>
			<tbody>
			@foreach( PageElement pe in p.elements){
				<tr>
					<td>
						<InputSelect TValue="ElementType" @bind-Value="pe.type">
							<option value="@ElementType.TEXT">Text</option>
							<option value="@ElementType.RECTANGLE">Rectangle</option>
							<option value="@ElementType.IMAGE">Image</option>
							<option value="@ElementType.TIME">Time</option>
							<option value="@ElementType.DATE">Date</option>
							<option value="@ElementType.SENSOR_TEMPERATURE">Sensor temperature</option>
							<option value="@ElementType.SENSOR_HUMIDITY">Sensor humidity</option>
							<option value="@ElementType.SENSOR_PRESSURE">Sensor pressure</option>
							<option value="@ElementType.SENSOR_PM2_5">Sensor pm2,5</option>
							<option value="@ElementType.SENSOR_PM10">Sensor pm10</option>
							<option value="@ElementType.SENSOR_PM1">Sensor pm1</option>
							<option value="@ElementType.UID">Screen id</option>
						</InputSelect>
					</td>
					<td>
						<InputNumber TValue="Int32" @bind-Value="pe.x" style="width:70px" min="0" max="1024"/>
						X
						<InputNumber TValue="Int32" @bind-Value="pe.y" style="width:70px" min="0" max="1024"/>
					</td>
					<td>
						<InputSelect TValue="FontType" @bind-Value="pe.font">
							<option value="@FontType.fontnormal8px">Font normal 8px</option>
							<option value="@FontType.fontfat8px">Font fat 8px</option>
						</InputSelect>
						@switch ( pe.type ){
							case ElementType.TEXT:
								<InputText TValue="string" @bind-Value="pe.text"/>	
							break;
							case ElementType.SENSOR_PM1:
							case ElementType.SENSOR_PM10:
							case ElementType.SENSOR_PM2_5:
							case ElementType.SENSOR_TEMPERATURE:
							case ElementType.SENSOR_PRESSURE:
							case ElementType.SENSOR_HUMIDITY:
								<InputNumber TValue="Int32" @bind-Value="pe.idx" @oninput="OnIdxChanched" style="width:70px" min="0" max="1024"/>
								<label>@pe.city</label>
							break;
							default:
							break;
						}
					</td>
					<td><label>@pe.text</label></td>
					<td> <button class="btn btn-primary" @onclick="()=>DeleteElement(p, pe)">Delete</button> </td>
				</tr>
			}
			</tbody>
		</table>
		<button class="btn btn-primary" @onclick="()=>DeletePage(p)">Delete page</button>
		<button class="btn btn-primary" @onclick="()=>AddElement(p)">Add element</button>
		<button class="btn btn-primary" @onclick="()=>MoveUp(p)">Move up</button>
		<button class="btn btn-primary" @onclick="()=>MoveDown(p)">Move down</button>
		<label>Time in seconds: </label>
		<InputNumber TValue="Int32" @bind-Value="p.time" style="width:50px" min="1" max="60"/>
		}
	</p>
		<hr style="height:2px;border-width:0;color:gray;background-color:black">
	<p>
		<button class="btn btn-primary" @onclick="AddPageClicked">Add page</button>
	</p>
</EditForm>
