@* @using webservicegilbt.shared *@
<EditForm Model="@Screen" OnInvalidSubmit="@HandleValidSubmit">
<h1>
	<h>Configuration of screen</h>
	<label>Uid: </label>
	<label>@Screen.uid</label>
</h1>
<p>
    <label>Firmware Version: </label>
    <label>@Screen.firmware_ver</label>
</p>
<p>
    <label>Last Request:</label>
    <label>@Screen.last_request</label>
</p>
<p>
    <label>Resolution: </label>
	<InputNumber TValue="Int32" @bind-Value="Screen.width" style="width:70px" min="32" max="512" step="32"/>
	X
	<InputNumber TValue="Int32" @bind-Value="Screen.height" style="width:70px" min="16" max="256" step="16"/>
</p>

<p>
    <label>Type: </label>
    <label>"@Screen.screen_type_str()"</label>
</p>

<p>
    <label>Name: </label>
    <input @bind="Screen.name"/>
</p>

<p>
    <label>Contrast: </label>
    <input type="range" min="1" max="@Screen.contrast_max" @bind="Screen.contrast" class="slider" id="slcontrast"/>
</p>

<p>
    <label>Night contrast: </label>
    <input type="range" min="1" max="@Screen.contrast_max" @bind="Screen.contrast_night" class="slider" id="slcontrastnight"/>
</p>

<p>
    <label>Content: </label>
	<PresentationEditor Pres="@Screen.pres"/>
</p>

<p>
    <button class="btn btn-primary" @onclick="UploadFirmwareClicked">Upload firmware</button>
</p>
<p>
    <button class="btn btn-primary" @onclick="()=>ShowConfirmDelete=true">Delete from Db.</button>
</p>

@if ( ShowConfirmDelete ) {
<p>
    <hr style="height:5px;border-width:0;color:red;background-color:red">
    <p> <label>Confirm deleting this screen from Db.</label> </p>
    <p>
	<button class="btn green btn-primary" @onclick="()=>ShowConfirmDelete=false">Cancel</button>
	<button class="btn red btn-primary" @onclick="DeleteClicked">Delete</button>
    </p>
</p>
}
</EditForm>
