@page "/Changeuserpassword"
@page "/Changeuserpassword/{UserIdParameter:int}"
@using WebServiceGilBT.Shared

<EditForm Model="@logged_user" OnValidSubmit="@ValidateUser">
	@if ( logged_user.IsUserAccessedByThisUser(edited_user)){
		<h1>
			<label>@Lang.confOfUser:</label>
			<label>@edited_user.EmailAddress</label>
		</h1>

		<table>
			<tr>
				<th><label >@Lang.yourPassword:</label></th>
				<th>
					<input type="password" @bind="OldPasswd"/>
					<label >@NoNeedPasswordMessage</label>
				</th>
			</tr>
			<tr>
				<th><label >@Lang.newPassword:</label></th>
				<th><input type="password" @bind="NewPasswd"/></th>
			</tr>
			<tr>
				<th><label >@Lang.repeatNewPassword:</label></th>
				<th><input type="password" @bind="NewPasswd2"/></th>
			</tr>
		</table>

		<p>
			<input type="submit" class="btn btn-primary" value="Accept" />
		</p>

		<p>
			<div class="col-12 row" style="text-align:left; font-weight:bold">
				<span class="col-12">@LoginMesssage</span>
			</div>
		</p>
		}else{
			<label>@Lang.uCantEditThisUser</label>
		}
</EditForm>
