@page "/index"
@using WebServiceGilBT.Shared
@using WebServiceGilBT.Data


<table class="my_custom_table">
	<tr class="my_custom_th_verydark">
		<th>Uid</th>
		<th>Name</th>
		<th>Type</th>
		<th>Resolution</th>
		<th>Last Request</th>
		<th>Version</th>
		<th>Contrast</th>
		<th>Night contrast</th>
		<th>Configure</th>
	</tr>

	@foreach (var screen in screenList.Screens) {
		@if ( user.IsScreenAccessedByUser( screen.uid)){
		<tr class="my_custom_th @item_background" >
			<td>@screen.uid</td>
			<td>@screen.name</td>
			<td>@screen.screen_type_str()</td>
			<td>@screen.resolution()</td>
			<td>@screen.last_request</td>
			<td>@screen.firmware_ver</td>
			<td>@screen.contrast_str()</td>
			<td>@screen.night_contrast_str()</td>
			<td><button class="btn btn-primary" 
						@onclick="(()=>NavigateToConfigureScreen(screen))">Configure</button></td>
		</tr>
		}
	}

</table>
