@page "/users"
@using WebServiceGilBT.Shared
@using WebServiceGilBT.Data


<table class="my_custom_table">
		<tr class="my_custom_th_verydark">
			<th>@Lang.userId </th>
			<th>Email</th>
			<th>@Lang.type</th>
			<th>@Lang.configure</th>
		</tr>
		@foreach (User user in _userlist) {
			@if (loggeduser.UserType == eUserType.admin){
				<tr class="my_custom_th @item_background">
					<td>@user.UserId</td>
					<td>@user.EmailAddress</td>
					<td>@user.UserType</td>
					<td><button class="btn btn-primary" 
								@onclick="(()=>NavigateToConfigureUser(user))">@Lang.configure</button>
					@if (user.UserType != eUserType.admin)
                    {
						<button class="btn btn-primary" style="background-color:darkred" @onclick="(()=>deleteSelectedUser(user))">@Lang.delete</button>
                    }
					</td>
				</tr>
			}
		}
</table>
